<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
	<script type="text/javascript">
		var app = angular.module('TryApp', [], function() {})

app.controller('AppController', function($scope) {
  $scope.user = {};
  $scope.submit = function() {
    //here $scope.user will have all the 3 properties
    console.log($scope.user);
  }
})
	</script>
</head>
<body>
<div id="content" ng-app="TryApp" ng-controller="AppController">
  <form ng-submit="submit()">
    <input type="text" placeholder="first name" name='name' ng-model="user.Name" />
    <br>
    <input type="text" placeholder="email address" name="name" ng-model="user.email" />
    <br>
    <input type="text" placeholder="age" name="age" ng-model="user.age" />
    <br>
    <input type="submit" value="Save" />
    <!-- <p>{{user}}</p> -->
  </form>
</div>
</body>
</html>